@{
    ViewBag.Title = "InHouse Application";
}

<div class="jumbotron">
    <h1>Demo Project</h1>
    <p class="lead">
        <div class="row">
            <div class="col-sm-12">
                <h3>This application demonstrates basic CRUD operations.</h3>
            </div>            
        </div>
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Razor Page Operation</h2>
        <p>
            We use the default ASP.NET MVC template with Razor page to perform this operation.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Knockout.Js with Ajax operation</h2>
        <p>We only use ASP.NET MVC Archicture for backend and all the page operation perform those HTML5 and Knockout.Js</p>
    </div>
</div>